.arena-container {
    display: flex;
    flex-direction: column;
}

.game-container {
    display: flex;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 50vh;
    margin-bottom: 50px;
}

.hero-container, .enemy-container {
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(92,92,92,1) 52%, rgba(0,0,0,1) 100%);
    border-radius: 5px;
    border: 2px double black;
}

.enemy-container {
    box-shadow: 0px 0px 4px red;
    animation: 2s enemyGlow infinite;
}

.hero-container {
    box-shadow: 0px 0px 4px blue;
    animation: 2s heroGlow infinite;

}

@keyframes enemyGlow {
    0% {
        box-shadow: 0px 0px 2px red;
    }
    50% {
        box-shadow: 0px 0px 8px rgb(255, 96, 43);
    }
    100% {
        box-shadow: 0px 0px 2px rgb(255, 89, 0);
    }
}

@keyframes heroGlow {
    0% {
        box-shadow: 0px 0px 4px blue;
    }
    50% {
        box-shadow: 0px 0px 8px rgb(140, 0, 255);
    }
    100% {
        box-shadow: 0px 0px 4px rgb(0, 76, 255);
    }
}

.card-name {
    margin: 5px auto 0px auto;
}

.hero-container img, .enemy-container img {
    height: 125px;
    padding: 10px;
    margin: 0px;
}

.health-bar {
    margin-bottom: 0px;
    padding: 0px 5px;
    border-radius: 0px 0px 5px 5px;
}

.hero-hp {
    background-color: rgb(86, 39, 189);
}

.enemy-hp {
    background-color: rgb(191, 90, 56);
}

.health-bar p {
    margin: 0px auto;
}


.enemy-container img {
    transform: scaleX(-1);
}

.fight-container {
    display: flex;
    flex-direction: column;
}


/* Toast */
#toast {
    visibility: hidden;
    max-width: 500px;
    height: 90px;
    margin: auto;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
  }
  
  #toast #desc {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    height: 90px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
      fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
      fadeout 0.5s 4.5s;
  }
  
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes expand {
    from {
      min-width: 50px;
    }
    to {
      min-width: 350px;
    }
  }
  
  @keyframes expand {
    from {
      min-width: 50px;
    }
    to {
      min-width: 350px;
    }
  }
  @-webkit-keyframes stay {
    from {
      min-width: 350px;
    }
    to {
      min-width: 350px;
    }
  }
  
  @keyframes stay {
    from {
      min-width: 350px;
    }
    to {
      min-width: 350px;
    }
  }
  @-webkit-keyframes shrink {
    from {
      min-width: 350px;
    }
    to {
      min-width: 50px;
    }
  }
  
  @keyframes shrink {
    from {
      min-width: 350px;
    }
    to {
      min-width: 50px;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 60px;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 60px;
      opacity: 0;
    }
  }